<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.TypeProviders.StarterPack" version="0.9.1" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common" version="0.9.9-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Common.Dependencies" version="0.9.1-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management" version="0.9.5-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Compute" version="0.9.11-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Libraries" version="0.9.6-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Monitoring" version="0.9.2-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Scheduler" version="0.9.8-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.ServiceBus" version="0.9.3-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Sql" version="0.9.5-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.Storage" version="0.9.3-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.VirtualNetworks" version="0.9.3-preview" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.Management.WebSites" version="0.9.10-preview" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
</packages>